body {
    background-color: rgba(27, 31, 34, 0.85);
}

.header_container{
    background-color: rgb(0,0,0,0.6);
    border: 6pt solid rgb(118, 115, 109);
    width: 100%;
    height: 7vw;
    color: white;
    /* justify-content: center; */
    /* left: 0% */
    /* top: 0px; */
    /* padding: 40px; */
    /* position: relative; */
}


.Sportsman_journal{
    text-align: center;
    font-size: 300%;
    /* font-family: Arial, sans-serif; */
}

main {
    min-height: 80vh;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    margin-top: 200px;
}

.card {
    width: 250px;
    height: 450px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: white;
    font-size: 26px;
    font-weight: bold;

    background-size: cover;
    background-position: center;

    border-radius: 14px;
    position: relative;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.hunting_card {
    background-image: url("images/WhiteTail-Deer.png");
}

.fishing_card {
    background-image: url("images/Bass.png");
}

.photo_card {
    background-image: url("images/Cameraman.png");
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 0 16px 35px rgba(0, 0, 0, 0.55);
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 14px;
}

.card span {
    position: relative;
    z-index: 1;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
}

.hunting-card {
    background-image: url("images/hunting.jpg");
}

.fishing-card {
    background-image: url("images/fishing.jpg");
}

.photo-card {
    background-image: url("images/Cameraman.png");
}

.about {
    background-color: rgb(0,0,0,0.6);
    border: 6pt solid rgb(118, 115, 109);
    width: 100%;
    height: 7vw;
    color: white;  
    margin-top:50px;
    text-align: center;
}