.header_container{
    background-color: rgb(0, 0, 0);
    border: 6pt solid rgb(235, 12, 12);
    width: 100%;
    height: 7vw;
    color: white;
    /* justify-content: center; */
    /* left: 0% */
    /* top: 0px; */
    /* padding: 40px; */
    /* position: relative; */
}


.Sportsman_journal{
    text-align: center;
    font-size: 300%;
    /* font-family: Arial, sans-serif; */
}