{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sportsman's Journal{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Merriweather&display=swap" rel="stylesheet">
    {% endblock %}  
</head>
<body>
    <header class = "header_container">
        <h1 class="Sportsman_journal">Sportsman's Journal</h1>
        <nav class="main-nav">
            
            <button class=""><a href="{% url 'home' %}">Home</a></button>
            <button class=""><a href="{% url 'hunting' %}">Hunting Log</a></button>
            <button class=""><a href="{% url 'fishing' %}">Fishing Log</a></button>
            <button class=""><a href="{% url 'photo' %}">Photo Gallery</a></button>
            <button class=""><a href="{% url 'logout' %}">Logout</a></button>
            <button class=""><a href="{% url 'admin:index' %}">Settings</a></button>
            
        </nav>
    </header>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

 
    <main>
        {% block content %}

            <section class="hero">
                <div class="hero-overlay">
                    <h1>Welcome back, {{ user.username }}</h1>
                    <p>
                    Track your hunts, log your fishing trips,
                    and preserve your outdoor experiences.
                </p>
                </div>
            </section>

            <div class="card-container">
                <a href="{% url 'hunting' %}" class="card hunting_card">
                    <span>Hunting</span>
                </a>

                <a href="{% url 'fishing' %}" class="card fishing_card">
                    <span>Fishing</span>
                </a>

                <a href="{% url 'photo' %}" class="card photo_card">
                    <span>Photos</span>
                </a>
            </div>

            <section class="stats">
                <div>
                    <h2></h2>
                    <p>Hunts Logged</p>
                </div>
                <div>
                    <h2></h2>
                    <p>Fish Caught</p>
                </div>
                <div>
                    <h2></h2>
                    <p>Photos Uploaded</p>
                </div>
            </section>
            
            <section class="about-section">
                <div class="about-overlay">
                        <h2>About The Website</h2>
                        <p>
                            Sportsman’s Journal is a personal field log designed
                            for hunters and anglers 
                        </p>
                    </div>
                </section>
        {% endblock %}
    </main>
 
    <footer>
        <p></p>
    </footer>
</body>
</html>