{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sportsman's Journal{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'home.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Merriweather&display=swap" rel="stylesheet">
    {% endblock %}  
</head>
<body>
    <header class = "header_container">
        <div class="header_inner">
            <h1 class="Sportsman_journal">Sportsman's Journal</h1>
            
            <nav class="main-nav">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'hunting' %}">Hunting</a>
                <a href="{% url 'fishing' %}">Fishing</a>
                <a href="{% url 'photo' %}">Photo Gallery</a>
                <a href="{% url 'logout' %}">Logout</a>
                {%if user.is_superuser%}
                    <a href="{% url 'admin_dashboard' %}">Settings</a>
                {%endif%}
            </nav>
        </div>
    </header>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

 
    <main>
        {% block content %}

            <section class="hero">
                <div class="hero-overlay">
                    <h1>Welcome back, {{ user.username }}</h1>
                    <p>
                    Track your hunts, log your fishing trips,
                    and preserve your outdoor experiences.
                </p>
                </div>
            </section>

            <section class="card-container">

                <a href="{% url 'hunting' %}" class="card hunting_card">
                    <div class="card-content">
                        <span>Hunting Log</span>
                        <small>Record locations, dates, and details</small>
                    </div>
                </a>

                <a href="{% url 'fishing' %}" class="card fishing_card">
                    <div class="card-content">
                        <span>Fishing Log</span>
                        <small>Log catches, bait used, and notes</small>
                    </div>
                </a>

                <a href="{% url 'photo' %}" class="card photo_card">
                    <div class="card-content">
                        <span>Galley</span>
                        <small>Share and browse outdoor photos</small>
                    </div>
                </a>
            </section>

            <section class="stats">
                <div>
                    <h2>{{ hunts_count }}</h2>
                    <p>Hunts Logged</p>
                </div>
                <div>
                    <h2>{{ fish_count }}</h2>
                    <p>Fish Caught</p>
                </div>
                <div>
                    <h2>{{ photos_count }}</h2>
                    <p>Photos Uploaded</p>
                </div>
            </section>
            
            <section class="about-section">
                <div class="about-overlay">
                        <h2>About The Website</h2>
                        <p>
                            Sportsman's Journal is a personal field log designed
                            for hunters and anglers who value accurate records and lasting memories. Log your hunts, record your
                            catches, and build a personal outdoor journal.

                        </p>
                    </div>
                </section>
        {% endblock %}
    </main>
 
    <footer>
        <p></p>
    </footer>
    <script src="{% static 'script.js' %}"></script>
</body>
</html> 
