{% extends 'base.html' %}
{% load static %}

{% block title %}Hunting Log{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'loghunt.css' %}">
{% endblock %}

{% block content %}

    <div class="gallery-wrapper">

        <div class="gallery-top">

            <div class="gallery-info">
                <h1>Hunting Log</h1>
                <p>
                Review and manage your hunting logs.
                    Each card represents a recorded hunt..
                </p>

                <a href="{% url 'loghunt' %}" class="create-log-btn">
                    Create Hunting Log
                </a>
            </div>

            {% if hunting %}
            <div class="gallery-feature">
                <img src="{{ hunting.0.picture.url }}">
                <div class="feature-overlay">
                    <strong>{{ hunting.0.title }}</strong><br>
                    {{ hunting.0.location }}
                </div>
            </div>
            {% endif %}

        </div>

        <div class="gallery-grid">

            {% for hunt in hunting %}

            <div class="gallery-card">

                {% if hunt.picture %}
                    <div class="card-image"
                        onclick="openLogModal(
                            '{{ hunt.title|escapejs }}',
                            '{{ hunt.location|escapejs }}',
                            '{{ hunt.date }}',
                            '{{ hunt.get_hunting_log_choices_display }}',
                            '',
                            '{{ hunt.picture.url }}'
                        )">
                        <img src="{{ hunt.picture.url }}">
                    </div>
                {% endif %}

                <div class="card-overlay">
                    <strong>{{ hunt.title }}</strong><br>
                    {{ hunt.location }}<br>
                    {{ hunt.get_hunting_log_choices_display }}<br>
                    {{ hunt.date }}
                </div>

                <div class="card-actions">
                    <a href="{% url 'edit_hunt' hunt.id %}" class="edit-btn">
                        Edit
                    </a>
                    <form method="POST" action="{% url 'delete_hunt' hunt.id %}">
                        {% csrf_token %}
                        <button type="submit"
                                class="delete-btn"
                                onclick="return confirm('Are you sure you want to delete this post?');">
                            Delete
                        </button>
                    </form>
                </div>

            </div>
        {% empty %}
            <p>No hunting logs yet.</p>
        {% endfor %}
    </div>

</div>

<div id="logModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeLogModal()">&times;</span>

        <img id="modalImage" class="modal-image">

        <h2 id="modalTitle"></h2>
        <p id="modalLocation"></p>
        <p id="modalType"></p>
        <p id="modalDate"></p>
    </div>
</div>
<script src="{% static 'script.js' %}"></script>
{% endblock %}

