{% extends 'base.html' %}
{% load static %}

{% block title %}Create Post{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'create_log.css' %}">
{% endblock %}
    {% block content %}

        <div class="create-log-card">

            <h1>Create Fishing Log</h1>

            <form method="POST" enctype="multipart/form-data" class="create-log-form">
                {% csrf_token %}

                <div class="image-column">
                    <div class="image-preview">
                        <img id="previewImage"
                            src="{% static 'images/placeholder.jpg' %}"
                            alt="No Image Selected">
                    </div>

                    <label class="image-btn">
                       Add Image Or Edit
                        {{ form.picture }}
                    </label>
                    
                </div>

                <div class="fields-column">

                    <div class="input-row">
                        <span>📍</span>
                        {{ form.location }}
                    </div>

                    <div class="input-row">
                        <span>🏷</span>
                        {{ form.title }}
                    </div>

                    <div class="input-row">
                        <span>📅</span>
                        {{ form.date }}
                    </div>

                    <div class="input-row">
                        <span>📝</span>
                        {{ form.quantity }}
                    </div>

                    <div class="input-row">
                        <span>🎣</span>
                        {{ form.fishing_log_choices }}
                    </div>

                    <div class="input-row">
                        <span>🌊</span>
                        {{ form.fishing_zone_choices }}
                    </div>
                    
                    <button type="submit" class="submit-btn">
                        Create Log
                    </button>

                </div>
            </form>
        </div>

    
{% endblock %}