{% extends 'base.html' %}
{% load static %}

{% block title %}Photo Gallery{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<link rel="stylesheet" href="{% static 'photo-gallery.css' %}">
{% endblock %}

{% block content %}

<div class="gallery-wrapper">

    <div class="gallery-top">

        <div class="gallery-info">
            <h1>Gallery</h1>
            <p>
                Explore recent hunting and fishing trips
                shared by the community.
            </p>

            <a href="{% url 'post' %}" class="create-log-btn">
                Create Post
            </a>
        </div>

        {% if posts %}
        <div class="gallery-feature">
            <img src="{{ posts.0.picture.url }}">
            <div class="feature-overlay">
                <strong>{{ posts.0.user.username }}</strong><br>
                {{ posts.0.location }}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="gallery-grid">
        {% for post in posts|slice:"1:" %}
        <div class="gallery-card">
            <img src="{{ post.picture.url }}">
            <div class="card-overlay">
                <strong>{{ post.user.username }}</strong><br>
                {{ post.location }}
                {{ post.get_hunting_log_choices_display }}<br>
                {{ post.date }}
            </div>
        </div>
        {% endfor %}
    </div>

</div>


{% endblock %}

